
params {
  inputdir = "$baseDir/DATA/"
  outdir = "$baseDir/OUT/"
  vcf = "sample.vcf.gz"
}


profiles {
  standard {
    process.executor = 'local'
    docker.enabled = false
    memory = '5 GB'
    cpus = 4
  }
  
  docker {
    docker.enabled = true
    
    // defined directly in process: use its own container for each process
    //process.container = 
    //process.runOptions = '-v ${params.inputdir}:/usr/working'
  }


  // https://www.nextflow.io/docs/latest/awscloud.html
  // make sure you set up  ~/.aws/credentials  and  ~/.aws/config
  batch {
    process.executor = 'awsbatch'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'   // change to that inside of AMI EC2

    // create batch queue either in AWS web or with terraform; use Amazon ECS-Optimized Amazon Linux 2, add disk space above 30/100
    process.queue = "nextflow-mnm-low_priority"

    // override imput parameters to S3 buckets
    params.inputdir = "s3://nextflow-mnm/DATA/"
    params.outdir = "s3://nextflow-mnm/OUT/"

    workDir = "s3://nextflow-mnm/work/"

  }

 
}

